* {
	box-sizing: border-box;
}

html {
	margin: 0 auto;
	background: white;
}

body {
	margin: 0;
	padding: 0;
	background: linear-gradient(180deg, #374151 0%, #111827 100%);
	font-family: "Roboto", monospace;
	max-width: 1440px;
}

#link-home {
	margin-right: 77px;
}

nav ul {
	list-style: none;
	padding: 0;
	margin: 0;
	align-items: center;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	gap: 39px;
}

input::placeholder {
	font-weight: 400;
	line-height: normal;
	color: #a3a7ae;
}

input:focus-visible {
	outline: 1px solid #4b5563;
}

h1 {
	width: 40%;
	color: #fff;
	font-size: 24px;
	font-weight: 400;
	line-height: 38px;
	margin: 0 auto 30px;
}

p {
	font-weight: 400;
	color: #fff;
	font-size: 16px;
	line-height: 28px;
	margin: 0;
}

main {
	margin: 0 auto 100px;
}

section,
article {
	margin: 0 auto;
	text-align: center;
}

article {
	margin-bottom: 29px;
}

footer {
	padding: 0 0 77px;
	text-align: center;
}

.nav {
	margin: 0;
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 60px 180px 69px;
}

.nav a {
	color: #fff;
	font-family: "Roboto", monospace;
	font-size: 16px;
	font-weight: 400;
	text-decoration: none;
}

.field {
	position: relative;
	display: inline-block;
	margin-left: 346px;
}

.field img {
	position: absolute;
	top: 14px;
	left: 18px;
}

.field input {
	box-sizing: border-box;
	font-size: 16px;
	border-radius: 100px;
	padding: 11px 12px 11px 49px;
	background: rgba(31, 41, 55, 0.6);
	color: #fff;
	border: 0;
}

.logo__img {
	border-radius: 3px;
	background: #4b5563;
	padding: 6px 12px;
	box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.15);
}

.logo__img,
.logo__text {
	font-size: 18px;
}

.author {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin: 0;
	gap: 16px;
}

.author__img {
	width: 50px;
	height: 50px;
	border-radius: 50%;
}

.author__text {
	text-align: start;
}

.author__text-spec {
	font-size: 14px;
	color: #a3a7ae;
}

.input-icon {
	position: absolute;
	left: 18px;
	top: 10px;
}

.title {
	line-height: normal;
	font-size: 14px;
	color: #a3a7ae;
}

.content img {
	border-radius: 5px;
	margin-bottom: 69px;
}

.content__items {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	width: 700px;
	gap: 20px;
	text-align: start;
}

.content__items p {
	font-size: 16px;
	line-height: 30px;
	margin: 0 auto;
	width: 700px;
	color: #fff;
}

.content__items p:first-child {
	font-size: 20px;
	line-height: 32px;
}

.content__items a {
	color: #fff;
	font-size: 16px;
	line-height: 30px;
}

.copyright {
	color: #a3a7ae;
}